In [ ]:
#1
print("Hello World")

In [ ]:
# que 1.1
print("Jahid hussain bhati")
print("Jahid hussain bhati")
print("Jahid hussain bhati")

In [ ]:
#2.1
a = 15
b = 80
c = a + b 
print(c)

In [ ]:
#2.2
a="Jahid"
b=" Hussain"
c=a+b
print(c)

In [ ]:
#2.3
a="jahid"
b=54
c=a+str(b)
print(c)

In [ ]:
# que 2.1
a=8
b=49
c=56
d=a+b+c
print(d)

In [ ]:
# que 2.2
a="Jahid "
b="Hussain "
c="Bhati "
d=a+b+c
print(d)

In [ ]:
#3.1
a = input("Enter First String: ")
b = input("Enter Second String: ")
c=a+b
print(c)

In [ ]:
#3.2
a=int(input("Enter value of a"))
b=int(input("Enter value of b"))
print("a+b:",a+b)

In [ ]:
#4.1
i=1
while i<=10:
    print(i)
    i=i+1

In [ ]:
#4.2
print ("range(10)        --> ", list(range(10)))
print ("range(10,20)     --> ", list(range(10,20)))
print ("range(0,20,2)    --> ", list(range(2,20,2)))
print ("range(-10,-20,2) --> ", list(range(-10,-20,2)))
print ("range(-10,-20,-2)--> ", list(range(-10,-20,-2)))

In [ ]:
#4.3.1
for i in range(0,10):
    print(i)

In [ ]:
#4.3.2
for i in range(1,20,3):
    print(i)

In [ ]:
#4.3.3
for i in range(0,-10,-1):
    print(i)

In [ ]:
#4.4
print("Table of 5:")
for i in range(1,11):
    print(i*5)

In [ ]:
#4.5.1
s=0
for i in range(1,11):
    s=s+i
print("sum of 1 to 10 is:",s)

In [ ]:
#4.5.2
print ("Sum is --> ", sum(range(1,11)))

In [ ]:
# que 4.1
print("Table of 7:")
for i in range(1,11):
    print(i*7)
print("Table of 9:")
for i in range(1,11):
    print(i*9)

In [ ]:
# que 4.2
n=int(input("Enter a number"))
print("Table of ",n,":")
for i in range(1,11):
    print(i*n)

In [ ]:
# que 4.3
n=int(input("Enter value of n:"))
s=0
for i in range(1,n+1):
    s+=i
print(s)

In [ ]:
#5.1
a=int(input("Enter value of a"))
b=int(input("Enter value of b"))
if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

In [ ]:
#5.2
n=int(input("Enter a number"))
if n%2==0:
    print(n," is even")
else:
    print(n," is odd")

In [ ]:
#5.3
n=int(input("Enter a numebr"))
f=0
for i in range(2,n//2+1):       # // for integer division
    if n%i==0:
        f=1
        break
if f==0:
    print("prime")
else:
    print("not prime")

In [ ]:
#5.4
a=input("Enter first name")
b=input("Enter second name")
if a==b:
    print("a=b")
elif a>b:
    print("a>b")
else:
    print("a<b")

In [ ]:
# que 5.1
a=int(input("Enter a:"))
b=int(input("Enter b:"))
c=int(input("Enter c:"))
max_num=max(a,b,c)
print("Maximum is",max_num)

In [ ]:
#que 5.2
n=int(input("Enter value of n:"))
total=0
for i in range(1,n+1):
    if i%7==0 and i%9==0:
        total=total+i
print(total)

In [ ]:
# que 5.3
n = int(input("Enter the value of n: "))
total = 0
for num in range(2, n + 1):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        total += num
print(f"The sum of all prime numbers from 1 to {n} is: {total}")

In [ ]:
#6.1
def add(a,b):
    return a+b
print("add(20,15)=",add(20,15))

In [ ]:
#6.2
def isPrime(num):
    for i in range(2,num//2+1):
        if num%i==0:
            return 0
    return 1
print("isprime():",isPrime(7))

In [ ]:
#6.3
def AddN(n):
    s=sum(range(n+1))
    return s
print("Sum of first 10 integer is:",AddN(10))

In [ ]:
# que 6.1
def add_odd(n):
    result=0
    for i in range(n+1):
        if i%2!=0:
            result=result+i
    return result
n=int(input("Enter value of n"))
print("sum of odd number from 1 to n is:",add_odd(n))

In [ ]:
# que 6.2
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
def sum_of_primes(n):
    total = 0
    for i in range(2, n + 1):
        if is_prime(i):
            total += i
    return total
n = int(input("Enter a number: "))
if n < 1:
    print("Please enter a number greater than or equal to 1.")
else:
    result = sum_of_primes(n)
    print(f"The sum of all prime numbers from 1 to {n} is: {result}")

In [ ]:
#7
import math as m
print ("exp(-150)    --> ", m.exp(-200))  # Exponential function
print ("log(100,2)   --> ", m.log(100,2)) # Log
print ("log(100,10)  --> ", m.log(100,10))# Log
print ("log10(100)   --> ", m.log10(100)) # Log 10
print ("m.cos(30)    --> ", m.cos(30))    # cos
print ("m.sin(30)    --> ", m.sin(30))    # sin
print ("m.tan(30)    --> ", m.tan(30))    # tan
print ("m.sqrt(324)  --> ", m.sqrt(324))
print ("m.ceil(89.9) --> ", m.ceil(89.9))
print ("m.floor(89.9)--> ", m.floor(89.9))

In [ ]:
#8.1
var = 'hello world'
print ("var      --> ", var)
print ("var[0]   --> ", var[0])
print ("var[1:5] --> ", var[1:5])
print ("var[:-5] --> ", var[:-5])

In [ ]:
#8.2
var='Jahid Hussain Bhati'
print ("String --> ", var)
print ("Length --> : ", len(var))
print ("Upper  --> : ", var.upper())
print ("Lower  --> : ", var.lower())

In [ ]:
#8.3
name=input("Enter your name: ")
age=int(input("Enter your age : "))
price=float(input("Enter the book price: "))
s="\nYour name is %s, age is %d and book price is %f" %(name.upper(),age,price)
print (s)

In [ ]:
#8.4
para_str = """This is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print (para_str)

In [ ]:
#8.5
name="jahid      hussain bhati    "
print("String    --> ", name)
print("Length    --> ", len(name))
print("name strip --> ", name.strip())
print("Length of name after strip --> ", len(name.strip()))

In [ ]:
#8.6
var =" Indian,   Army    "

print("String    --> ", var)
print("Length    --> ", len(var))
print("var split --> ", var.split())
print("var split --> ", var.split(' '))
print("var split --> ", var.split(','))

# Strip + Split
print("var split --> ", var.strip().split(','))

In [ ]:
#8.7
name="jahid hussain bhati"
print ("String       --> ", name)
print ("Count of ' ' --> ", name.count(' '))
print ("Count of 'd' --> ", name.count('d'))
print ("Count of 'h' --> ", name.count('h'))

In [ ]:
#8.8
var="Indian Army"
print ("String    --> ", var)
print ("var[::1]  --> ", var[::1])
print ("var[::2]  --> ", var[::2])
print ("var[::-1] --> ", var[::-1])
print ("var[::-2] --> ", var[::-2])

var=var[::-1]
print ("var after reverse --> ", var)

In [ ]:
#8.9
s1="jahid"
s2="hussain"
s3="madam"
s4="abcba"
print ("s1 --> ", s1==s1[::-1])
print ("s2 --> ", s2==s2[::-1])
print ("s3 --> ", s3==s3[::-1])
print ("s4 --> ", s4==s4[::-1])

In [ ]:
#9.1
import random as r
print (r.random())
print (r.random())
print (round(r.random(),4))

In [ ]:
#9.2
import random as r
print (r.randint(1, 100))
print (r.randint(1, 100))
print (r.randint(-10, 10))
print (r.randint(-10, 10))

In [ ]:
#9.3
import random as r
print (r.uniform(1, 100))
print (r.uniform(1, 100))
print (r.uniform (-10, 10))
print (r.uniform (-10, 10))
print (round(r.uniform (-10, 10),2))

In [ ]:
#9.4
import random as r

A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print (r.sample(A, 4))
print (r.sample(A, 2))
print (r.sample(range(0,100), 2))
print (r.sample(range(-100,100), 5))

In [ ]:
#9.5
import string as s
import random as r
print ("String        --> ",s.ascii_letters)

passwd=r.sample(s.ascii_letters, 6)
print ("Selected Char --> ",passwd)

passwd1="".join(passwd)
print ("passwd1       --> ",passwd1)

passwd2="+".join(passwd)
print ("passwd2       --> ",passwd2)

passwd3="*".join(passwd)
print ("passwd3       --> ",passwd3)

In [ ]:
#9.6
import string as s
import random as r
print ("Digits --> ",s.digits)

otp=r.sample(s.digits, 5)
print ("Selected num1 --> ",otp)
otp="".join(otp)
print ("otp1          --> ",otp)

In [ ]:
#9.7
import string as s
import random as r
print ("String + Digits --> ",s.ascii_letters + s.digits)

mixPasswd=r.sample(s.ascii_letters + s.digits, 5)
print ("\nSelected Str1 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd1    --> ",mixPasswd)

In [ ]:
#10.1
for i in range(-10,6):
	print ("100/",i," --> ", 100/i)

In [ ]:
#10.2
for i in range(-2,2):
	try:
		print ("100/",i," --> ", 100/i)
	except:
		print ("error")

In [ ]:
#10.3
ar=[1,2,3,4,5]

for i in range(10):
	try:
		print (i," --> ",ar[i])
	except:
		print ("error")

In [ ]:
#10.4
fileName=input("Enter File Name: ")
fp=open(fileName)
fp.close()
print ("Done")

In [ ]:
#10.5
fileName=input("Enter File Name: ")
try:
	fp=open(fileName)	# Open the file in reading mode
	fp.close()
except:
	print ("Error !!",fileName, " File Not Found")

print ("Done")

In [ ]:
#11.1
L = ["jahid",  'hussain', 1.2,  3 ]
print ("Original List: ", L)
print ("Number of elements in list: ", len(L))

In [ ]:
#11.2
L = ["jahid",  'hussain', 1.2,  3 ]
print ("Original List: ", L)
i=0
while i < len(L):
	print (L[i])
	i+=1

In [ ]:
#11.3
L = ["jahid",  'hussain', 1.2,  3 ]
for i in range(0,len(L)):
    print(L[i])

In [ ]:
#11.4
L = ["jahid",  'hussain', 1.2,  3 ]
for s in L:
	print (s)

In [ ]:
#11.5
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List       --> ", L)

L.append("Rahul")
print ("List After Adding   --> ", L)

del L[1]
print ("List After Deleting --> ", L)

In [ ]:
#11.6
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)

print ("Sum     --> ", sum(L))
print ("Average --> ", sum(L)/len(L))
print ("Average --> ", sum(L)//len(L))

print ("L * 3   --> ", L * 3)
print ("L + L   --> ", L + L)

In [ ]:
#11.7
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)

print ("max --> ", max(L))
print ("min --> ", min(L))

print ("\nBefore Sort            --> ", L)
L.sort()

print ("After Sort (Asending)  --> ", L)

L.sort(reverse=True)
print ("After Sort (Desending) --> ", L)

In [ ]:
#11.8
L1 = [1,2,3,4,5]
L2 = [10,20,30,40,50]
L3 = L1 + L2
print ("L1 --> ",L1)
print ("L2 --> ",L2)
print ("L3 --> ",L3)

print ("\nL3[2:]  --> ",L3[2:])
print ("L3[2:5] --> ",L3[2:5])
print ("L3[:-1] --> ",L3[:-1])
print ("L3[::2] --> ",L3[::2])

In [ ]:
#11.9
L = [12, 5, 3, 2, 7]
print ("Original List --> ", L)

newL = [ i * 5 for i in L ]
print ("After Multiply with constant --> ", newL)

In [ ]:
#11.10
L=[1,2,3,4,6,7,8,9]
print ("Original List --> ", 6 in L)
print ("Original List --> ", 10 in L)
print ("Original List --> ", 12 in L)

if (6 in L) == True:
	print ("Present")
else:
	print ("Not Present")

if (11 in L) == False:
	print ("Not Present")
else:
	print ("Present")

In [ ]:
#12.1
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Dictionary      --> ", CGPA)
print ("Num of elements --> ", len(CGPA))

print ("CGPA of 1       --> ", CGPA[1])
print ("CGPA of 4       --> ", CGPA[4])
print ("CGPA of 7       --> ", CGPA[7])

In [ ]:
#12.2
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
for k in CGPA:
	print ("CGPA of ", k, " --> ", CGPA[k])

In [ ]:
#12.3
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Dictionary --> ", CGPA)
print ("Keys       --> ", list(CGPA.keys()))
print ("Values     --> ", list(CGPA.values()))

In [ ]:
#12.4
CGPA={1:8.9,2:5.6,4:6.7,7:9.1,8:5.3}
print ("Original Dictionary --> ", CGPA)

CGPA[4] = 9.2
print ("After Updating (4)  --> ", CGPA)

CGPA[3] = 8.6
print ("After Adding (3)    --> ", CGPA)

del CGPA[1]
print ("After Deleting (1)  --> ", CGPA)

CGPA.clear()
print ("After Clear         --> ", CGPA)

del CGPA
#print ("After Delete        --> ", CGPA)

In [ ]:
#12.5
CGPA={1:5.6,2:9.8,3:8.7}
print ("Original Dictionary --> ", CGPA)
print ("Is Key 2 Present    --> ", 2 in CGPA)
print ("Is Key 9 Present    --> ", 9 in CGPA)

In [ ]:
#12.6
HomeTown={"Prashant":"Delhi", "Govind":"Gwalior", "Anil":"Morena", "Pankaj":"Agra"}
print ("Original Dictionary --> ", HomeTown)
print ("Home Town of Prashant is --> ", HomeTown["Prashant"])
print ("Home Town of Govind is   --> ", HomeTown["Govind"])
print ("Home Town of Anil is     --> ", HomeTown["Anil"])
print ("Home Town of Pankaj is   --> ", HomeTown["Pankaj"])

In [ ]:
#12.7
HomeTown={"Prashant":"Delhi", "Govind":"Gwalior", "Anil":"Morena", "Pankaj":"Agra"}
print ("Original Dictionary --> ", HomeTown)

for p in HomeTown:
	print ("Home Town of ", p, " is  --> ", HomeTown[p])

In [ ]:
#13.1
# Method 1
T = ("jahid", 'hussain', 3.14, 7)

print ("T               -->", T)
print ("Num of elements -->", len(T))
print ("Type of Object  -->", type(T))


# Method 2
T = tuple(["jahid", 'bhati', 3.14, 3])

print ("T               -->", T)
print ("Num of elements -->", len(T))
print ("Type of Object  -->", type(T))

In [ ]:
#13.2
T = ("jahid", 'hussain', 3.14, 3)
print ("T -->", T)

i = 0
while i < len(T):
    print (T[i])
    i += 1

In [ ]:
#13.3
T = ("jahid", 'hussain', 3.14, 3)
print ("T -->", T)

for i in range(0, len(T)):
    print (T[i])

In [ ]:
#13.4
T = ("jahid", 'bhati', 3.14, 3)
print ("T -->", T)

for s in T:
    print (s)

In [ ]:
#13.5 example 1
T = (3, 6, 9, 12, 5, 3, 2)
print ("T     -->", T)

print ("T[1]  -->", T[1])
print ("T[2]  -->", T[2])
print ("T[-1] -->", T[-1])
print ("T[-2] -->", T[-2])

In [ ]:
#13.5 example 2
T = (3, 6, 9, 12, 5, 3, 2)
print ("T        -->", T)

print ("T[1:3]   -->", T[1:3])
print ("T[2:]    -->", T[2:])
print ("T[2:5]   -->", T[2:5])
print ("T[:2]    -->", T[:2])
print ("T[:-1]   -->", T[:-1])
print ("T[-4:-1] -->", T[-4:-1])

In [ ]:
#13.6
T = (1,2,3,4,5,6,7,8,9,10)
print ("T       -->", T)
print ("Sum     -->", sum(T))
print ("Average -->", sum(T)/len(T))
print ("Average -->", sum(T)//len(T))

In [ ]:
#13.7 example 1
T = (3, 6, 9, 12, 5, 3, 2)                # Integer Tuple
print ("T   -->", T)
print ("Max -->", max(T))
print ("Min -->", min(T))

In [ ]:
#13.7 example 2
T = ("jahid", "hussain", "bhati")      # String Tuple
print ("T   -->", T)
print ("Max -->", max(T))
print ("Min -->", min(T))

In [ ]:
#13.8
T1 = (1,2,3)
T2 = (3,4,5,6,7,3)

print ("T1 -->", T1)
print ("T2 -->", T2)

T3 = T1 + T2
print ("T3 -->", T3)

T4 = T1 + T2 + T1 + T2
print ("T4 -->", T4)

In [ ]:
#13.9
T1 = (4,3,2,1)
T2 = (4,5,6,7)

print ("T1 -->", T1)
print ("T2 -->", T2)

T3 = T1[1:2] + T2[1:3]
print ("T3 -->", T3)

T4 = T1[:-2] + T2[:-3]
print ("T4 -->", T4)

In [ ]:
#13.10
T = (3, 6, 9, 12, 5, 3, 2)
print ("T       -->", T)

print ("6  in T -->", 6 in T)
print ("10 in T -->", 10 in T)
print ("12 in T -->", 12 in T)

In [ ]:
#13.11
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

T[2] = 900               # Error; 'tuple' object does not support item assignment
print ("T -->", T)

In [ ]:
#13.12
T = ("jahid", 'hussain', 3.14, 3)
print ("T         -->", T)

T1 = list(T)
T1.append(9.8)
T = tuple(T1)

print ("After Add -->", T)

In [ ]:
#13.13
T = ("jahid", 'hussain', 3.14, 3)
print ("T            -->", T)

T1 = list(T)
T1.insert(2, "bhati")
T = tuple(T1)

print ("After Insert -->", T)

In [ ]:
#13.14
T = ("jahid", 'hussain','bhati', 3.14, 3)
print ("T            -->", T)

del T[1]

print ("After Delete -->", T)

In [ ]:
#13.15
T = ("jahid", 'hussain', 3.14, 3)
print ("T            -->", T)

T1 = list(T)
del T1[1]
T = tuple(T1)

print ("After Delete -->", T)

In [ ]:
#14.1
s = set(['A', 'B', 'E', 'F','E', 'F' ])
print ("Original set           --> ", s)
print ("Num of elements in set --> ", len(s))

In [ ]:
#14.2
a = set(['A', 'B', 'E', 'F' ])
b = set(["A", "C", "D", "E"])
print ("Original set a      --> ", a)
print ("Original set b      --> ", b)
print ("Union of a and b    --> ", a.union(b))
print ("Intersection of a,b --> ", a.intersection(b))
print ("Difference a - b    --> ", a - b)
print ("Difference a - b    --> ", a.difference(b))
print ("Difference b - a    --> ", b - a)
print ("Difference b - a    --> ", b.difference(a))
print ("Symetric Diff a - b --> ", a.symmetric_difference(b))
print ("Symetric Diff b - a --> ", b.symmetric_difference(a))

In [ ]:
#14.3
a = set(['A', 'B', 'E', 'F' ])
print ("Original set a       --> ", a)
a.add("D")
print ("Set After Adding (D) --> ", a)
a.add("D")
print ("Set After Adding (D) --> ", a)
a.remove("D")
print ("Set After Deleting(D)--> ", a)
a.pop()
print ("Set After pop        --> ", a)
a.pop()
print ("Set After pop        --> ", a)

In [ ]:
#15.1
import sys
print (sys.argv)
a = int(sys.argv[1])
b = int(sys.argv[2])
c = a + b
print (a, " + ", b, " --> ", c)

In [ ]:
#15.2
import sys
print (sys.argv)
s = sys.argv[1] + " " + sys.argv[2]
print (sys.argv[1], " + ", sys.argv[2], " --> ", s)

In [ ]:
#15.3
import sys
print (sys.argv)
sum=0
for s in sys.argv[1:]:
	sum += int(s)

print ("Sum is --> ", sum)

In [ ]:
#16.1
fp=open('result.txt','w')
for  i in range(1,11):
	fp.write(str(i) + "\n")
fp.close()

print ("Writing done !! \nOpen result.txt to view the content")

In [ ]:
#16.2
fp=open('result.txt')		# Open the file in reading mode
for line in fp: 		    # print line by line
	print (line.strip())
fp.close()

In [ ]:
#16.3
Readfp=open('result.txt')
Writefp=open('abc.txt','w')
for line in Readfp:
	Writefp.write(line.upper())

Writefp.close()
Readfp.close()

print ("Writing done !! \nOpen result.txt to view the content")